<!--Not an active view -->
<div ng-controller="newPassCtrl">
	<div class="container">
		<div class="row row-centered space">
			<div class="col-xs-12 col-sm-1 col-md-3 col-lg-3"></div>
			<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 col-centered">
      	<form class="form-signin formwidth loginwrapper">
        	<h2 class="form-signin-heading">Enter new password</h2>
        	<label for="inputUsername" class="sr-only">password</label>
        	<input type="password" id="password" ng-model="password" class="form-control" placeholder="password:" required autofocus >

        	<div class="buttonspacer">
        		<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="updateNewPassword()">new password</button>
        	</div>
        	{{error}}
          {{send}}
      	</form>
		    </div>
		   <div class="col-xs-12 col-sm-1 col-md-3 col-lg-3"></div>
	    </div>
	  </div>  	
	</div>
</div> 
